scala/output/*
scala/data/*
scala/project/target/*
scala/target/*
scala/project/project/*
scala/.idea/
python/.*.py
python/checkpoint
python/ppmi/*
python/ppmi.*
python/cifar-10-batches-py/
python/target/
python/urban.*
deep-learning-packages/*
*.pyc
.vscode-upload.json
__pycache__
.DS_Store